html,body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient(circle, #00264D, #000B18);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
a,
.list-group-item,
h1, h3, p {
  color: #ffffff;
}


a.btn-outline-primary,
a.btn-outline-secondary {
  border-color: #ffffff;
  color: #ffffff;
}

a.btn-outline-primary:hover,
a.btn-outline-secondary:hover {
  background-color: #216fe6;
  color: #ffffff;
}


.list-group-item {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}

.card{
padding-left: 18px;
background: transparent;
}
.about-text {
  text-align: justify;
  line-height: 1.6;
  margin: 20px;
}

.imgblock{
  padding-top: 60px;
}
#h{
  padding-left: 20px;
}